$container: 1920px;

$fz: 16px;
$ff: "Gilroy", sans-serif;
$ff2: "nautilus";



$text: #30393D;
$bg-blue: #e2f5ff;
$color-promo-title: #ffa285;
$color-promo-counter: #ff5c00;
$old-price: #777777;
$text-wt: #fff;
$color-counter: #ff0000;
$color-counter-text: #a62900;
$text-footer: #005cb0;
$bg-button: linear-gradient(270.06deg, #F0028E 29.42%, #782C76 96.84%);
$bg-guarantee: linear-gradient(180deg, rgba(255, 255, 255, 0) 92.02%, #FFFFFF 122.02%), #77D2FF;
$bg-guarantee2: linear-gradient(180deg, rgba(255, 255, 255, 0) 92.02%, #FFFFFF 122.02%), #E2F5FF;
$bg-counter: linear-gradient(360deg, #FFF59A 0%, #FFCA28 100%);